<div class="users d-flex flex-column min-vh-100 position-relative overflow-hidden">
   <%= render partial: "users/page_background" %>
   <%= render partial: "users/menu" %>

	<div class="container-fluid p-0 main-user">
		<main class="create">
			<div class="main-card-create">
				<p style="color: green"><%= notice %></p>
				<h3 class="title-create">Criar Conta</h3>

				<div class="card-create">
					<%= image_tag "girl.png", style:"width: 152; height: 488", class:"img-girl"%>
					<%= image_tag "cat.png", style:"width: 106; height: 62", class:"img-cat" %>
					<p class="text-welcome">
						Boas-Vindas à casa dos animes!<br>
						Vamos começar criando uma conta.
					</p>
               <%= render "form", user: @user %>
               <!--Politica de privacidade-->
               <div class="checkbox-all">
                  <input class="checkbox-inf" type="checkbox" id="checkbox-id" />
                  <label class="check-inf" for="checkbox-id">
                     <span class="checkbox-inf-body">
                        <svg class="checkbox-front" viewBox="2 2 16 16">
                           <path class="checkbox-back" 
                              d="M6,10 C7.93333333,12 8.93333333,13 9,13 C9.06666667,13 10.7333333,11 14,7" stroke-width="2">
                           </path>
                        </svg>
                     </span>
                     <span class="text-inf">
                        Eu quero receber as informações mais recentes da Crunchyroll, ofertas e notícias.
                        Todas as comunicações são sujeitas à nossa
                        <a class="privacy-policy" href="https://intl.sonypictures.com/en/privacy-policy">Política de Privacidade</a>.
                        Cancele a qualquer tempo.
                     </span>
                  </label>
               </div>
				</div>
            <!--Botão Next-->
            <div class="btn-main">
               <button class="btn btn-next border border-2 rounded-0">PRÓXIMO</button>
            </div>
            <!--Conta-->
            <p class="text-inf">Já possui uma conta?
               <a class="login" href="#"> LOGIN</a>
            </p>
			</div>
		</main>
	</div>
</div>
<%= render partial: "users/footer" %>

