<!-- Item Navegar com Dropdown -->
<li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Navegar
   </a>
   <ul class="dropdown-menu">
      <div class="dropdown-columns">
         <!-- Primeira Coluna -->
         <div class="first-column">
         <% dropdown_menu_items.select { |col| col[:column] == "first-column" }.each do |column| %>
            <% column[:items]&.each do |item| %>
               <li><a class="dropdown-item" href="<%= item[:href] %>"><%= item[:text] %></a></li>
            <% end %>
         <% end %>
         </div>
         <!-- Gêneros -->
         <div class="genres-section">
         <% dropdown_menu_items.select { |col| col[:column] == "genres-section" }.each do |column| %>
            <% if column[:title] %>
               <li class="dropdown-title"><%= column[:title] %></li>
            <% end %>
            <% column[:items]&.each do |item| %>
               <li><a class="dropdown-item" href="<%= item[:href] %>"><%= item[:text] %></a></li>
            <% end %>
         <% end %>
         </div>
      </div>
   </ul>
</li>